
body {
  font-family: sans-serif;
  font-weight: 100;
  background-color: white;
  width: 100%;
  color: #336699;
}

img {
  display: block;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: left;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


h4 {
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.subTitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
}
.interestCaption, .projectCaption {
  text-align: center;
}

.style1 {
  border-style: solid;
  height: 2px;
  border: 0;
  background:  #336699;
  width: 90%;

}
.style2 {
  border-style: solid;
  height: 2px;
  border: 0;
  background:  #79a6d2;
  width: 90%;
}

.header {
  text-align: center;
}

.myProfilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #336699;
}

a:link, a:active, a:hover, a:default, a:visited {
  color: #336699;
}

.myName {
  font-size: 2em;
  padding: 5px;
}

.myTitle {
  font-size: 1.25em;
}

.mySocialMedia {
  font-size: 1.6em;
  text-align: center;
}

.subTitle {
  background-color: #336699;
  color: white;
  width: 90%;
}
.experiences {
  padding: 1px;
  margin: 5px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


  .footer {
  text-align: center;
  padding-bottom: 5px;
}

.myProjects {
  padding: 1px;
  margin: 5px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.project {
  padding-bottom: 25px;
}
